<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:replace="~{fragments :: head}">
  <title>Tech Jobs</title>
</head>

<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">
  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
  <h2 class = "centered">View Jobs By Category</h2>
</div>

<table class="centeredTable">
  <tr>
    <th:block th:each="column : ${columns}">
      <th th:text="${column.value}"></th>
    </th:block>
  </tr>
  <tr>
    <td th:each="column : ${columns}">
      <ul>
        <li th:each="item : ${tableChoices[column.key]}">
          <a th:href="@{/list/jobs(column=${column.key},value=${item})}" th:text="${item}"></a>
        </li>
      </ul>
    </td>
  </tr>
</table>

</body>
</html>